global
  log /dev/log    local0
  log /dev/log    local1 notice
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen stats
  bind 0.0.0.0:70
  mode http
  stats enable
  stats hide-version
  stats scope .
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth user:pass


frontend fe_main
  mode http
  bind :80
  bind :443 ssl crt /certs/mycert.pem
  http-request redirect scheme https unless { ssl_fc }
  # If Host header is api.example.com then use 
  # api.example.com backend
  use_backend %[req.hdr(host),lower,word(1,:)]

backend nas-mgmt.coulombel.net
  balance       roundrobin
  server ha1    scoulombel-nas:8080 check

backend ha.coulombel.net
  balance       roundrobin
  server ha1    scoulombel-nas:8123 check
